server:
  port: 8080

spring:
  application:
    name: studytrack

  datasource:
    url: jdbc:mysql://localhost:3306/studytrack_db
    username: root
    password: dipak

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

